:root {
  --text-color: #202020;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 70.5%;
}

body {
  text-transform: capitalize;
  font-family: "Mulish", sans-serif;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

.nav_link {
  position: relative;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 500;
}

ul {
  list-style: none;
}

button:disabled {
  pointer-events: initial !important;
  cursor: not-allowed !important;
  color: rgb(0 0 0 / 47%);
}

.radius {
  border-radius: 4px;
  display: block;
}

.rounded {
  border-radius: 4px 4px 0 0;
}
